.Navigation {
	flex-basis: 20%;
	width: 100%;
}

.Navigation__folder-list {
	list-style: none;
}

.Navigation__folder-item {
	text-align: center;
	border: 1px solid black;
	cursor: pointer;
}

.Navigation__folder-title {
    margin: 0;
    padding: 0px;
    font-size: 18px;
    line-height: 80px;
	display: block;
	height: 80px;
}

.Navigation__back-button {
    height: 50px;
    width: 100%;
	margin: 16px 0px 0px 8px;
	border: 1px solid black;
	cursor: pointer;
}
